@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(236, 231, 225, 1);
  color: rgba(38, 33, 30, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
dl,
dt,
dd {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  height: auto;
}
figure {
  margin: 0;
  padding: 0;
  border: 0;
}
.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.q-t-header.is-open .q-t-header-background {
  left: 0;
}
.q-t-header-button-wrapper {
  margin-left: auto;
}
.q-t-header-icon {
  display: none;
}

.q-t-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.q-t-navigation-list.is-open {
  right: 0;
}
.q-t-header-icon-menu {
  display: block;
}

.q-t-header-icon-button.is-open .q-t-header-icon-menu {
  display: none;
}

.q-t-header-icon-button.is-open .q-t-header-icon-close {
  display: block;
}

.q-t-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 70px;
  background: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(20px);
}

.q-t-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: #020100;
}
.q-t-header.is-open .q-t-header-background {
  left: 0;
}
.q-t-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.q-t-header-icon-menu {
  display: block;
}

.q-t-header-icon-button.is-open .q-t-header-icon-menu {
  display: none;
}

.q-t-header-icon-button.is-open .q-t-header-icon-close {
  display: block;
}

.q-t-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px 12px;
  position: relative;
}

.q-t-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: start;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  transition: 0.3s;
  z-index: 999;
  padding: 0px 32px;
  gap: 28px;
  background: #020100;
}

.q-t-navigation-list.is-open {
  right: 0;
}

.q-t-navigation-link {
  font-family: Cormorant Garamond;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.q-t-navigation-link:hover,
.q-t-navigatioт-link:focus {
  color: rgba(170, 145, 89, 1);
}

.q-t-header.is-open {
  background-color: transparent;
}

.q-t-navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .q-t-navigation-img {
    display: flex;
  }
  .q-t-policy-terms-header-icon-menu {
    display: none;
  }

  .q-t-header {
    width: 100%;
    height: 78px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.65);
    backdrop-filter: blur(20px);
  }

  .q-t-header-background {
    background-color: transparent;
  }
  .q-t-header-icon-button {
    display: none;
  }
  .q-t-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .q-t-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 22px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }

  .q-t-navigation-link {
    text-decoration: none;
    font-family: Cormorant Garamond;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
  }

  .q-t-navigation-item-desk {
    display: none;
  }
}
.q-t-home {
  width: 375px;
  height: 812px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/hero_section.png");
  margin: auto;
}
.q-t-home-container {
  width: 375px;
  padding: 161px 16px 0px;
  margin: auto;
  color: rgba(255, 255, 255, 0.7);
}

.q-t-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.q-t-home-text-two {
  font-family: Work Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
}

.q-t-home-title {
  font-family: Cormorant Garamond;
  font-weight: 600;
  font-size: 46px;
  line-height: 58px;
  letter-spacing: 6px;
  padding: 384px 0 0;
}

.q-t-home-text {
  font-family: Cormorant Garamond;
  font-weight: 500;
  font-style: italic;
  font-size: 22px;
  line-height: 28px;
  letter-spacing: 0%;
  color: rgba(170, 145, 89, 1);
  padding-bottom: 40px;
}
.q-t-home-google-button-link {
  margin: auto;
}
.q-t-home-google-button-image {
  width: 260px;
  height: 56px;
}

.q-t-home-google-button-link:hover .q-t-home-google-button-image {
  content: url("/img/home/11.png");
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}
.q-t-home-text-three {
  display: none;
}
@media screen and (min-width: 1200px) {
  .q-t-home {
    width: 1440px;
    height: 800px;
    background-image: url("/img/home/hero_section\ \(1\).png");
  }
  .q-t-home-container {
    width: 1440px;
    padding: 232px 212px 0px;
  }

  .q-t-home-container-top {
    display: flex;
    flex-direction: column;
    align-items: start;
  }
  .q-t-home-text-two {
    display: none;
  }

  .q-t-home-title {
    font-family: Cormorant Garamond;
    font-weight: 600;
    font-size: 76px;
    line-height: 92px;
    letter-spacing: 17px;

    padding: 0;
  }

  .q-t-home-text {
    font-family: Cormorant Garamond;
    font-weight: 500;
    font-style: italic;
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0%;
    padding: 0 0 56px 104px;
  }

  .q-t-home-google-button-link {
    margin: 0;
  }
  .q-t-home-text-three {
    display: flex;
    font-family: Work Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    justify-content: end;
    align-items: end;
    text-align: right;
    padding: 202px 0 0;
  }
}

.q-t-uniqueness {
  margin: auto;
  width: 375px;
  height: 952px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Background\ Section.png");
}
.q-t-uniqueness-container {
  margin: auto;
  width: 375px;
  padding: 60px 16px 0;
}
.q-t-uniqueness-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.q-t-uniqueness-text-number {
  font-family: Work Sans;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 0.7);
}
.q-t-uniqueness-text-bold {
  font-family: Work Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
  padding: 12px 0 8px;
}
.q-t-uniqueness-text {
  font-family: Work Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 0.7);
}

@media screen and (min-width: 1200px) {
  .q-t-uniqueness {
    width: 1440px;
    height: 672px;
    background-image: url("/img/Background\ Section\ \(1\).png");
  }
  .q-t-uniqueness-container {
    margin: auto;
    width: 1440px;
    padding: 100px 108px 0;
  }
  .q-t-uniqueness-list {
    padding-top: 76px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 24px;
    column-gap: 440px;
    height: 430px;
  }
  .q-t-uniqueness-text-number {
    font-family: Work Sans;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }
  .q-t-uniqueness-text-bold {
    font-family: Work Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-transform: uppercase;

    padding: 12px 0 8px;
  }
  .q-t-uniqueness-text {
    font-family: Work Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;

    width: 392px;
  }
}

.q-t-about-container {
  width: 375px;
  padding: 60px 16px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.q-t-about-title {
  font-family: Cormorant Garamond;
  font-weight: 500;
  font-style: italic;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: rgba(170, 145, 89, 1);
}

.q-t-about-text {
  padding-top: 32px;
  font-family: Work Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
}

@media screen and (min-width: 1200px) {
  .q-t-about-container {
    width: 1440px;
    padding: 100px 140px;
    margin: auto;
    display: flex;
    flex-direction: row-reverse;
    gap: 40px;
  }
  .q-t-about-title {
    font-family: Cormorant Garamond;
    font-weight: 600;
    font-style: italic;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0%;
    text-transform: uppercase;
  }

  .q-t-about-text {
    padding-top: 32px;
    font-family: Work Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }
}
.q-t-why {
  margin: auto;
  width: 375px;
  height: 2092px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/why/Background\ Ellipse.png");
}
.q-t-about-title-w {
  text-align: center;
}
.q-t-why-container {
  width: 375px;
  margin: auto;
  padding: 60px 16px 0;
}
.q-t-why-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.q-t-why-item {
  width: 343px;
}
.q-t-why-img {
  width: 343px;
  height: 343px;
}
.q-t-why-text-bold {
  font-family: Work Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: rgba(170, 145, 89, 1);
  padding: 24px 0 8px;
}
.q-t-why-text {
  font-family: Work Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
}

@media screen and (min-width: 1200px) {
  .q-t-why {
    width: 1440px;
    height: 1392px;
    background-image: url("/img/why/Background\ Ellipse\ \(1\).png");
  }
  .q-t-why-container {
    width: 1440px;
    padding: 100px 248px 0;
  }

  .q-t-why-list {
    padding-top: 76px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 160px;
    row-gap: 76px;
  }
  .q-t-why-item {
    width: 392px;
  }
  .q-t-why-img {
    width: 392px;
    height: 392px;
  }
  .q-t-why-text-bold {
    font-family: Work Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
  }
  .q-t-why-text {
    font-family: Work Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }
}

.q-t-how-container {
  margin: auto;
  width: 375px;
  padding: 60px 16px;
}
.q-t-how-list {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.q-t-how-item {
  width: 343px;
  height: 336px;
}

.q-t-how-img {
  width: 343px;
  height: 232px;
}

.q-t-how-text-bold {
  font-family: Work Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  color: rgba(170, 145, 89, 1);
  padding: 24px 0 8px;
}

.q-t-how-text {
  font-family: Work Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .q-t-how-container {
    margin: auto;
    width: 1440px;
    padding: 100px 108px;
  }
  .q-t-how-list {
    padding-top: 76px;
    display: flex;
    flex-direction: row;
    gap: 24px;
  }

  .q-t-how-item {
    width: 392px;
    height: 336px;
  }

  .q-t-how-img {
    width: 392px;
    height: 232px;
  }

  .q-t-how-text-bold {
    font-family: Work Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;

    padding: 24px 0 8px;
  }

  .q-t-how-text {
    font-family: Work Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }
}
.q-t-reviews {
  margin: auto;
  width: 375px;
  height: 812px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-image: url("/img/brands+bg.png");
}
.q-t-reviews-container {
  margin: auto;
  padding: 60px 16px 0;
  width: 375px;
}
.q-t-reviews-lists {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.q-t-reviews-list {
  display: none;
}

.q-t-reviews-item {
  width: 343px;
  display: flex;
  gap: 24px;
}
.q-t-reviews-img {
  width: 132px;
  height: 132px;
}
.q-t-reviews-item-top {
  height: 52px;
  padding: 2px 0 0 16px;
  border-left: 2px solid rgba(38, 33, 30, 1);
}

.q-t-reviews-text-bold {
  font-family: Work Sans;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
}
.q-t-reviews-text-bold-b {
  font-family: Work Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  padding-top: 4px;
}
.q-t-reviews-text {
  font-family: Work Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  padding-top: 32px;
}

@media screen and (min-width: 1200px) {
  .q-t-reviews {
    width: 1440px;
    height: 512px;
    background-image: url("/img/brands+bg\ \(1\).png");
  }
  .q-t-reviews-container {
    margin: auto;
    padding: 100px 395px 0;
    width: 1440px;
  }
  .q-t-reviews-lists {
    display: none;
  }
  .q-t-reviews-list {
    display: block;
    padding: 76px 0 40px;
  }

  .q-t-reviews-item {
    width: 652px;
    height: 132px;

    display: flex;
    gap: 24px;
  }

  .q-t-reviews-item-top {
    height: 52px;
    padding: 0px 0 0 16px;
    border-left: 2px solid rgba(38, 33, 30, 1);
  }

  .q-t-reviews-text-bold {
    font-family: Work Sans;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }
  .q-t-reviews-text-bold-b {
    font-family: Work Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;

    padding-top: 4px;
  }
  .q-t-reviews-text {
    font-family: Work Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;

    padding-top: 32px;
  }
  .slick-dots {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .slick-dots li {
    list-style: none;
    width: 16px;
    height: 16px;
  }

  .slick-dots li button {
    width: 100%;
    height: 100%;
    border: none;
    background: url("/img/reviews/Rectangle\ 4.png") no-repeat center/cover;
    padding: 0;
    font-size: 0;
  }

  .slick-dots li button:before {
    display: none;
  }

  .slick-dots li.slick-active button {
    background: url("/img/reviews/Rectangle\ 3.png") no-repeat center/cover;
  }
}

.q-t-features {
  background-color: #0b0702;
}

.q-t-features-container {
  width: 375px;
  margin: auto;
  padding: 60px 16px;
}
.q-t-features-text-bold {
  font-family: Work Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 0.7);
  text-decoration: none;
  padding-top: 4px;
}
.q-t-features-div {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 40px;
}
.q-t-features-form {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.q-t-features-input {
  padding-top: 16px;
  padding-right: 12px;
  padding-bottom: 16px;
  padding-left: 12px;
  border: 1px solid rgba(255, 255, 255, 1);
  background-color: transparent;
  font-family: Work Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  color: rgba(255, 255, 255, 0.7);
}
.q-t-features-textarea {
  height: 240px;
}
.q-t-features-button {
  width: 343px;
  height: 56px;
  padding-top: 16px;

  padding-bottom: 16px;

  font-family: Work Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: uppercase;
  background-color: transparent;
  color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(255, 255, 255, 1);
}
@media screen and (min-width: 1200px) {
  .q-t-features-container {
    width: 1440px;
    margin: auto;
    padding: 100px 108px;
  }
  .q-t-features-text-bold {
    font-family: Work Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }
  .q-t-features-div {
    display: flex;
    flex-direction: row;
    gap: 126px;
    padding-top: 32px;
    /* align-items: center; */
  }
  .q-t-features-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .q-t-features-input {
    width: 602px;
    height: 56px;
    padding-top: 16px;
    padding-right: 12px;
    padding-bottom: 16px;
    padding-left: 12px;
    font-family: Work Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }
  .q-t-features-textarea {
    height: 240px;
  }
  .q-t-features-button {
    width: 260px;
    height: 56px;
    padding-top: 16px;
    padding-bottom: 16px;
    font-family: Work Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-transform: uppercase;
  }
  .q-t-features-img {
    width: 496px;
    height: 400px;
    margin-top: 40px;
  }
}

.q-t-container {
  padding: 130px 16px 40px;
  width: 375px;
  margin: auto;
  font-family: Work Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
}

.q-t-container h1 {
  font-family: Cormorant Garamond;
  font-weight: 500;
  font-style: italic;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0%;
  text-transform: uppercase;
}

.q-t-container h2 {
  margin-top: 10px;
  font-family: Work Sans;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0%;
}

.q-t-container h3 {
  margin-top: 10px;
  font-family: Work Sans;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
}

.q-t-container ul {
  margin-top: 10px;
  list-style-type: disc;
  margin-left: 20px;
}

.q-t-container ul li {
  margin-bottom: 10px;
}
.q-t-container p {
  margin-top: 10px;
}
.q-t-container a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s ease-in-out;
}

.q-t-container a:hover {
  text-decoration: underline;
}

strong {
  color: #000;
}
@media screen and (min-width: 1200px) {
  .q-t-container {
    padding: 174px 212px 80px;
    width: 1440px;
    margin: auto;
    font-family: Work Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }

  .q-t-container h1 {
    font-family: Cormorant Garamond;
    font-weight: 600;
    font-style: italic;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0%;
    text-transform: uppercase;
  }

  .q-t-container h2 {
    margin-top: 20px;
    font-family: Work Sans;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0%;
  }

  .q-t-container h3 {
    margin-top: 20px;
    font-family: Work Sans;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
  }

  .q-t-container ul {
    margin-top: 20px;
  }

  .q-t-container ul li {
    margin-bottom: 10px;
  }
  .q-t-container p {
    margin-top: 20px;
  }
}

.q-t-footer-container {
  width: 375px;
  margin: auto;
  padding: 60px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.q-t-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.q-t-footer-text {
  text-decoration: none;
  color: inherit;
  font-family: Work Sans;
  font-weight: 600;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.q-t-footer-copyright {
  font-family: Work Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

@media screen and (min-width: 1200px) {
  .q-t-footer-container {
    width: 1440px;
    padding: 60px 108px;
    display: flex;

    align-items: stretch;
    gap: 60px;
  }

  .q-t-footer-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: end;
    gap: 74px;
  }

  .q-t-footer-text {
    font-family: Work Sans;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }

  .q-t-footer-copyright {
    font-family: Work Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
  }
}

.q-t-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 40px 16px;
  background: rgba(122, 122, 122, 0.75);
  backdrop-filter: blur(20px);

  z-index: 1000;
  display: none;
}

.q-t-cookie-popup-text-two {
  font-family: Work Sans;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0%;
  text-align: center;

  color: rgba(255, 255, 255, 0.7);
}

.q-t-cookie-button-container {
  padding: 20px 0 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.q-t-cookie-button {
  border: none;
  background-color: transparent;
  width: 343px;
  padding-top: 16px;
  padding-bottom: 16px;
  background: rgba(43, 43, 43, 1);
  font-family: Work Sans;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0%;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
}

#accept-cookies {
  background: rgba(191, 164, 90, 1);
}

.q-t-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .q-t-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .q-t-cookie-popup-text-two {
    font-family: Work Sans;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    width: 800px;
  }

  .q-t-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 24px;
  }
  .q-t-cookie-button {
    width: 184px;
  }

  .q-t-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 32px 108px;
    display: none;
  }
}
